.ventana {
    -moz-box-shadow:0 5px 10px rgba(0,0,0,0.8);
    -webkit-box-shadow:0 5px 10px rgba(0,0,0,0.8);
    box-shadow:0 5px 10px rgba(0,0,0,0.8);

}

.panel-heading{
    box-shadow: 0px 3px 7px rgba(0,0,0,.1);

}