<div class="container">
<div class="row">
  <table class="table table-striped table-bordered table-hover">
    <thead>
        <th></th>
        <th>Titulo</th>
        <th>Propietario</th>
        <th>Ultima Modificacion</th>
        <th>Tamaño</th>
        <th>Acciones</th>
    </thead>
    <tbody>
      <tr *ngFor='let file of drive.items'>
        <td><img [src]="file.iconLink" [alt]="file.title"></td>
        <td>{{ file.title }}</td>
        <td>{{ file.ownerNames }}</td>
        <td>{{ file.modifiedDate }}</td>
        <td>{{ file.fileSize }}</td>
        <td>
            <a (click)="download(file)" *ngIf="isValidFolder(file.mimeType)"  class="btn btn-xs btn-info glyphicon glyphicon-download-alt" title="Descargar!" data-toggle="tooltip"></a>
        </td>
      </tr>

    </tbody>
  </table>
  </div>
</div>